[Unit]
Description=Logs some system statistics to the systemd journal
Requires=rikmail.service

[Timer]
Unit=rikmail.service
OnCalendar=daily

[Install]
WantedBy=timers.target
