[Unit]
Description=Logs system statistics to the systemd journal
Wants=rikmail.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/mailnew.sh

[Install]
WantedBy=multi-user.target
