[Unit]
Description=Logs system statistics to the systemd journal
Wants=riktelegram.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/riktelegrambot.sh

[Install]
WantedBy=multi-user.target
