[Unit]
Description=Logs some system statistics to the systemd journal
Requires=riktelegram.service

[Timer]
Unit=riktelegram.service
OnCalendar=daily

[Install]
WantedBy=timers.target
