[Unit]
Description=riktelegram

[Service]
Restart=always
RestartSec=86400
ExecStart=/usr/bin/riktelegram
StartLimitInterval=0
Type=dbus
BusName=xyz.openbmc_project.riktelegram

[Install]
WantedBy=basic.target
